div.pagecontainer p.pagetext, p.pagetext { margin-left:0; }

table.pagetable {
 border-spacing: 0;
 margin-left: 0;
 padding: 3px;
 width: auto;
}

/* empty = kill .pagetable settings */
table.pagetable th {}

table.table_sort th
{
 padding: 5px;
 margin-left: 20px;
 margin-right: 20px;
 border-collapse:collapse;
 background-image: none;
 text-align: left;
 cursor: default;
}

table.table_sort th.SortAble
{
 padding-left: 10px;
 background-image: url(../images/bgdark.gif);
 background-repeat: no-repeat;
 background-position: center left;
 cursor: pointer;
}

table.table_sort th.SortUp
{
 padding-left: 10px;
 background-image: url(../images/ascdark.gif);
 background-repeat: no-repeat;
 background-position: center left;
 cursor: pointer;
}

table.table_sort th.SortDown
{
 padding-left: 10px;
 background-image: url(../images/descdark.gif);
 background-repeat: no-repeat;
 background-position: center left;
 cursor: pointer;
}

table.table_sort td.row1s {
 background-color: #E9E9E9;
}

table.table_sort td.row2s {
 background: #D9D9D9;
}
