.pplus_message {
font-weight: bold;
color: #f00;
}

#pplus_submit {
margin-top: 10px;
padding: 5px 10px;
font-size: 1.4em;
}

#pplus_container {
margin: 10px auto;
border: 1px solid #ccc;
border-radius: 20px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
padding: 25px;
max-width: 33em;
text-decoration: none;
line-height: 1.33;
font-size: 62.5%; /*nominally 10px*/
font-style: normal;
color: #333;
background-color: #eee;
background-color: rgba(100,100,100,0.1);
background-image: url(../images/background.gif);
}

#pplus_container h2 {
margin: 0 0 10px 0;
padding: 0;
color: #35a7e8;
}

#pplus_container p {
font-size: 1.2em;
}

#pplus_container table {
width: auto;
border-width: 0;
border-collapse: collapse;
border-spacing: 0.5em;
}

#pplus_container td {
margin: 0;
padding: 0.2em;
line-height: 1.1;
}

#pplus_container td.title {
font-size: 1.4em;
font-weight: normal !important;
}

#pplus_container input {
font-size: 1.4em;
}

#pplus_container input[type=text], #container input[type=number] {
overflow: hidden;
margin-bottom: 1px;
border: 2px solid #aaa;
padding: 5px;
background-color: #fff;
}

#pplus_container input.error {
overflow: hidden;
margin-bottom: 0;
border: 2px solid #e83544 !important;
border-color: #e83544 !important;
}

#pplus_container div.error_wrapper {
display: none;
margin: 2px 0;
padding: 0 2px;
font-size: 1.2em;
font-weight: bold;
color: #e83544;
background-color: #fff;
}
